.la-empresa {
  position:fixed;
  width:60px;
  height:60px;
  bottom:20px;
  right:20px;  
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  select{
    display: none;
  }
  &-active{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 300px;
    background-color: #FFF;
    select{
      display: block;
      align-self: center;
    }
  }
  &-select{
    display: flex;
    align-items: center;
  }
  select{
    outline: none;
    background: white;
    border: none;
  }
  &-icon{
    margin-top:13px;
  }
}

.d-flex{
  display: flex;
}

.align-items-center{
  align-items: center;
}